:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
}

/* LAYOUT STUFF */

body {
    margin: 0px;
}

main {
    margin: auto;
    width: 800px;
    max-width: calc(100vw - 20px);
    padding-top: 20px;
}

/* HEADER STUFF */

h1 {
    border-bottom: 1px solid black;
}

h2 {
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}

/* LIST STUFF */

ul {
    list-style-type: circle;
    margin-top: 0px;
}

li {
    margin-left: 30px;
}

/* LINK STUFF */

a {
    color: #693799;
}

/* TABLE STUFF */

table {
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    border: 1px solid gray;
}

th:first-child, td:first-child {
    border-left: none;
}

th:last-child, td:last-child {
    border-right: none;
}

tr:first-child td {
    border-top: none;
    text-align: center;
}

tr:last-child td {
    border-bottom: none;
}